.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  text-align: center;
}

#passengerDetails {
  text-align: center;
}

.passenger {
  margin-bottom: 10px;
}
